## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="managerBase.htm" />


<%block name="title">
	<title>MyStuff - Users</title>
</%block>

<%block name="css">
	
</%block>


<%block name="center">
<div class="col-md-10">
  <div class = "centerBlock">

    <div id="confirmation">
        <div class="confirmPadding">
            <h3>Create User?</h3>
            <p>You are going to the new user page. Are you sure?</p>
        </div>
        <div id="confirmation-btn">

            <a href="/manager/newuser/" class="btn btn-warning"><span class = "glyphicon glyphicon-user"></span> Confirm</a>
            <button class = "btn btn-danger"onclick="hideConfirm()"><span class = "glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
    </div>


    <div id="logout">
        <div class="confirmPadding">
            <h3>Logout</h3>
            <p>Are you sure?</p>
        </div>
        <div id="confirmation-btn">

            <a href="/manager/logout/" class="btn btn-primary"><span class = "glyphicon glyphicon-share"></span> Confirm</a>
            <button class = "btn btn-danger"onclick="hideLogout()"><span class = "glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
    </div>

    <h2>User List</h2>
    <button class = "btn btn-warning"onclick="showConfirm()"><span class = "glyphicon glyphicon-user"></span> Create User</button>
    

    <table class="table ">
    	<thead>
    		<tr>
    			<th>ID</th>
    			<th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Active</th>
                <th>Staff</th>
                <th>Superuser</th>
                <th>Action</th>
                <!--<th>Add Employee</th>-->
    		</tr>
    	</thead>
        <tbody>
        %for u in users:
            <tr>
                <td>${ u.id }</td>
                <td>${ u.username }</td>
                <td>${ u.first_name }</td>
                <td>${ u.last_name }</td>
                <td>${ u.is_active }</td>
                <td>${ u.is_staff }</td>
                <td>${ u.is_superuser }</td>
                <td><a href="/manager/edituser/${ u.id }" class="btn btn-danger"><span class = "glyphicon glyphicon-wrench"></span> Edit</a></td>
                <!--<td><a href="/manager/editemployee/${ u.id }" class="btn btn-danger"><span class = "glyphicon glyphicon-wrench"></span> Edit Employee</a></td>-->
            </tr>
        %endfor
        </tobdy>
    </table>
  </div>
</div>  
</%block>  
