## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />


<%block name="title">
    <title>MyStuff - Shop</title>
</%block>

<%block name="css">
    
</%block>

<%block name="center">
<div class="col-md-10">
    <div class = "centerBlockWhite">
    <br>
        %for p in products:
            <div class="row">
                <div class="col-md-12">

                    <div class="thumbnail">
                        %for c in catalog:
                            %if c.id == p.catalog_inventory_id:
                                <img class="catalog_tile" src="${ STATIC_URL }catalog/images/${ c.image }" />
                            %endif
                        %endfor
                        
                        <div>
                            <h3>Serial Number: ${ p.serial_number }</h3>
                            
                            <a href="/catalog/rentalcart__add/${ p.id }/${ p.store_id }/" class="btn btn-primary"><span class="glyphicon glyphicon-tag"></span> Add to Cart</a> <a href="/catalog/description/" class="btn btn-success" >Description</a>
                        </div>
                    </div><!--thumbnail-->   
                </div><!--column-->
            </div>
        %endfor
    </div> 
</div>
</%block>