## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="managerBase.htm" />


<%block name="title">
    <title>MyStuff - Home</title>
</%block>

<%block name="css">
    
</%block>


<%block name="left_side">

  <div class="sidebar">

    <a href="/manager/storelist/" class="btn btn-primary width"><span class = "glyphicon glyphicon-home"></span> Stores</a><br>
    <a href="/manager/productlist/" class="btn btn-success width"><span class = "glyphicon glyphicon-camera"></span> Products</a><br>
    <a href="/manager/userlist/" class="btn btn-warning width"><span class = "glyphicon glyphicon-user"></span> Users</a><br>
    <a href="/manager/dashboard/" class="btn btn-danger width"><span class = "glyphicon glyphicon-info-sign"></span> Dashboard</a><br>
  </div>
  
</%block>

<%block name="center">
  <div class = "centerBlock">
    <div id="logout">
          <div class="confirmPadding">
              <h3>Logout</h3>
              <p>Are you sure?</p>
          </div>
          <div id="confirmation-btn">

              <a href="/manager/logout/" class="btn btn-primary"><span class = "glyphicon glyphicon-share"></span> Confirm</a>
              <button class = "btn btn-danger"onclick="hideLogout()"><span class = "glyphicon glyphicon-remove"></span> Cancel</button>
          </div>
      </div>
    <h2>
      User Info:
    </h2>

    <table class="table">
      <thead>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </thead>
      <tbody>
          <tr>
            <td>${ user.username }</td>
            <td>${ user.first_name }</td>
            <td>${ user.last_name }</td>
            <td>${ user.email }</td>
          </tr>
      </tbody>
    </table>
    <a class="btn btn-warning" href="/repair/userlookup/"><span class="glyphicon glyphicon-wrench"></span> Repair Lookup</a>
    <button class="btn btn-danger"onclick="showLogout()"><span class = "glyphicon glyphicon-share"></span> Logout</button>
  </div>
  
</%block>  
