## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />


<%block name="title">
	<title>MyStuff - Home</title>
</%block>

<%block name="css">
	
</%block>

<%block name="center">
  <div class = "centerBlock">
    <p>This is the homepage and centerblock area</p>

    <h1>${ hey }</h1>


    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>ID</th>
    			<th>Question Text</th>
    			<th>Actions</th>
    		</tr>
    	</thead>
    	<tbody>
    		%for q in questions:
    			<tr>
    				<td>${ q.id }</td>
    				<td>${ q.question_text }</td>
    				<td><a href="/polls/edit_question/${ q.id }">Edit</a></td>
    			</tr>
    		%endfor


    		<tr>
    			<td>1</td>
    			<td>This is question 1</td>
    			<td></td>
    		</tr>
    		<tr>
    			<td>2</td>
    			<td>This is question 2</td>
    			<td></td>
    		</tr>
    		<tr>
    			<td>3</td>
    			<td>This is question 3</td>
    			<td></td>
    		</tr>
    	<tbody>
    </table>
  </div>
  
</%block>  
