## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_template.htm" />



<header>
    <%block name="header">
      <nav class="navbar navcustom " role="navigation">
        <div class="container-fluid">
        
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/homepage/index">DigitalMyWorld</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/homepage/index/">Home</a></li>
              <li><a href="/catalog/list/all/">Shop Catalog</a></li>
              <li><a href="/rental/rent/">Rentals</a></li>
              %if request.user.is_authenticated():
                <li><a href="/account/accountDashboard/">MyAccount</a></li>
              %else:
                <li><a id="login_button">Login</a></li>
              %endif
              %if request.user.is_authenticated():
              <li><a id="cart_button"><span class="glyphicon glyphicon-shopping-cart"></span> MyCart</a></li>
              %endif
            </ul>

                <form class="navbar-form navbar-right" role="search" method="POST" action="/catalog/list__search/">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" id="search" name="search">
                  </div>
                  <button type="submit" class="btn btn-default">Search</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                     %if request.user.is_staff:
                      <li><a id="rental_button">Rental Cart</a></li>
                     %endif
                  %if request.user.is_staff:
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employee Actions <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/repair/userlookup">Repairs</a></li>
                      <li><a href="/rental/rent/">Rental Items</a></li>
                      <li class="divider"></li>
                      <li><a href="/manager/dashboard/">Dashboard</a></li>
                      <li><a href="/manager/logout/">Logout</a></li>
                    </ul>
                  </li>
                  %endif
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
  </%block>

<%block name="left_side">
<div class="col-md-2">
  <div class="sidebar">

  	<a href="/manager/storelist/" class="btn btn-primary width"><span class = "glyphicon glyphicon-home"></span> Stores</a><br>
    <a href="/manager/productlist/" class="btn btn-success width"><span class = "glyphicon glyphicon-camera"></span> Products</a><br>
    <a href="/manager/userlist/" class="btn btn-warning width"><span class = "glyphicon glyphicon-user"></span> Users</a><br>
    <a href="/manager/dashboard/" class="btn btn-danger width"><span class = "glyphicon glyphicon-info-sign"></span> Dashboard</a><br>
    <br><br>
  </div>
</div>  
</%block>  

<%block name="center">
  
  
</%block> 

<%block name="footer">
  
  
</%block>

