## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />


<%block name="title">
	<title>MyStuff - List</title>
</%block>

<%block name="css">
	
</%block>

<%block name="center">
  <div class = "centerBlockWhite">
    <p>This is the homepage and centerblock area</p>

    <div class="row">
    	<div class="col-md-4">
    		<img class="catalog_tile" src="${ STATIC_URL }catalog/images/${ prods[0].image }"/>
    	</div>
    	<div class="col-md-4">
    		<img class="catalog_tile" src="${ STATIC_URL }catalog/images/${ prods[0].image }"/>
    	</div>
    	<div class="col-md-4">
    		<img class="catalog_tile" src="${ STATIC_URL }catalog/images/${ prods[0].image }"/>
    	</div>
    </div>
    
  </div>
  
</%block>  